/*
 *  author: Matija Belec
 *    date: 7 June 2015
 */

*{
    margin: 0;
    padding: 0;
}
a{
    color: #cc6600;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #ff9900;
}
body{
    color: #000000;
    background-color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}
li{
    padding-left: 20px;
}
#user-type-identification{
    height: 4px;
    background-color: #000000;
}


  /**********/
 /* header */
/**********/
#header{
    box-sizing: border-box;
    display: block;
    padding: 14px 12px 8px;
    text-align: left;
    font-size: 18pt;
    padding: 80px 5px 10px 20px;
}


  /**************/
 /* navigation */
/**************/
#nav{
    box-sizing: border-box;
    display: block;
    position: relative;
    font-size: 12pt;
    text-align: center;
    border-top: 3px solid #eeeeee;
    border-bottom: 3px solid #eeeeee;
    z-index: 900;
    height: 30px;
}
#nav>ul,
#footer>ul{
    display: inline-block;
    list-style: none;
}
#nav>ul>li,
#footer>ul>li{
    display: inline-block;
}

#main-menu{
    position: absolute;
    top: 2px;
    left: 10px;
}
#user-menu{
    position: absolute;
    top: 2px;
    right: 10px;
}
.menu-option.selected {
    background-color: #ededed;
}


  /**********/
 /* footer */
/**********/
#footer{
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 16px;
    border-top: 3px solid #eeeeee;
}
#copyright-info{
    padding: 10px 8px 12px;
    margin: 6px 8px 2px;
}
#copyright-info p{
    display: inline-block;
}


  /****************/
 /* main content */
/****************/
#main{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
}
#main .main-section{
    position: relative;
    padding: 24px 8px 12px;
    text-align: center;
}
#main .main-section>h2{
    display: block;
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
    margin: 12px 10px 6px;
    padding: 4px 2px 2px 12px;
}
#main .main-section>h2:after{
    clear: both;
}
#main .main-section>h3{
    display: block;
    text-align: left;
    margin: 12px 10px 6px 18px;
    padding: 4px 2px 2px 20px;
}
#main .main-section>p{
    text-align: justify;
    line-height: 1.5;
    font-weight: lighter;
    font-size: 14pt;
    padding-bottom: 8pt;
    margin: 4px 30px;
}

#main form{
    display: inline-block;
    position: relative;
    margin: 20px 2px;
    max-width: 700px;
}
#main form label,
#main form input,
#main form textarea, 
#main form select{
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14pt;
}
#main form label{
    width: 40%;
    text-align: right;
    white-space: nowrap;
}
#main form input,
#main form textarea, 
#main form select{
    width: 55%;
}
#main form input[type=submit]{
    display: block;
    width: 100%;
}

#main table{
    display: inline-block;
    margin: 16px 4px 12px;
    border-collapse: collapse;
}
#main table th,
#main table td{
    border: 1px solid #535353;
    padding: 1pt 2pt;
}
#main table th{
    background-color: #dadada;
    color: #232323;
}

.left{float: left;}
.right{float: right;}
